body {
  background-color: #50163b;
  background-repeat: repeat;
  background-size: contain;
}

.card {
  margin: 10px;
  border: 0.2px solid #e8dede;
  margin-top: 4rem;
}

.card h3 {
  text-align: center;
}

.mb-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

.mb-3 textarea {
  margin: 0 auto;
  border-radius: 3px;
}

.mb-3 input {
  margin: 5px;
  border-radius: 3px;
}

button {
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-count {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerCard {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separador {
  width: 90%;
  height: 20%;
  border-bottom: 1px solid #444343;
  margin: 0 auto;
}

.form {
  background-color: bisque;
  height: 300px;
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10px;
}

.container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

.navbar-brand {
  margin-left: 1rem;
}

.nav-link:hover {
  background-color: #394545;
}

.cart {
  background-color: #3a3c3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  padding: 2px;
  border-radius: 2px;
}

.cart:hover {
  background-color: #d5d8f6;
  padding: 4px;
}

.titulo-producto {
  margin: 2rem;
  text-align: center;
  border-bottom: 1px solid #a7a3a3;
}

.btn-return {
  margin: 20px;
  width: 30%;
  height: 10%;
  background-color: #d0dbee;
}

.contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(210, 217, 243, 0.577);
}

form {
  background-color: azure;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

.container-btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contendor-presentacion {
  margin-top: 1rem;
  text-align: center;
  width: 90%;
  height: 300px;
  background-image: url(/img/4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fcfcfa;
  font-size: 1.5rem;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(237, 243, 243, 0.588);
}

.item-products {
  background-color: rgba(240, 248, 255, 0.686);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  margin: 1rem;
}

.container-count {
  margin: 1.8rem;
}

.check-out {
  background-color: rgba(237, 243, 243, 0.729);
  margin: 2rem;
  height: 30rem;
}

.check-out .h3-check {
  text-align: center;
  margin: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(237, 243, 243, 0.729);
  height: 30rem;
}

.btn-return-cart {
  margin: 2rem;
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h5-cart {
  color: #448ac7;
  padding: 2px;
}

.container-text {
  padding: 15px;
  background-color: rgba(240, 248, 255, 0.648);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}
