body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: rgb(220, 248, 239);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  margin-top: 4rem;

}

button{
  margin: 5px;
  align-items: center;
  justify-content: center;
}
.card h3{
  text-align: center;
}
.btn-count{
  align-items: center;
}
.containerCard{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  margin:10px;
  border: 0.2px solid rgb(202, 198, 198);
}
.separador{
  width: 90%;
  height: 20%;
  border-bottom: 1px solid rgb(68, 67, 67);
  margin: 0 auto;
}
.contendor-presentacion{
  text-align: center;
  width: 90%;
  height:300px;
  background-image:url(/img/Impresion-3d.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  color: rgb(252, 252, 250);
  margin: 0 auto;
  font-size: 1.5rem;
}
.contendor-presentacion p{
  margin: 15px;
}
.contendor-presentacion h1{
  margin-top: 1rem;
} 


.container-pres{
  margin: 1.25rem;
}

.form{
  background-color: bisque;
  height: 300px;
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10px;
}
.mb-3{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

 .mb-3 textarea{
  margin: 0 auto;
  border-radius: 3px;
}
.mb-3 input{
  margin: 5px;
  border-radius: 3px;
} 
.container-input{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.navbar-brand{
  margin-left: 1rem;
}
.nav-link:hover{
  background-color: rgb(57, 69, 69);
}
.cart{
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 2px;
}
.cart:hover{
  background-color: rgb(61, 58, 58);
  padding: 4px;
}
.titulo-producto{
  margin: 2rem;
  text-align: center;
  border-bottom: 1px solid rgb(167, 163, 163);
}
.btn-return{
  margin: 20px;
  width: 30%;
  height: 10%;
  background-color: rgb(208, 219, 238);
}